body {
  position: relative;
  padding-bottom: 20px;
}
input {
  border-radius: 8px;
  padding: 4px;
}

button {
  cursor: pointer;
  border-radius: 4px;
}
.search-form {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding-top: 15px;
  padding-bottom: 15px;

  background: linear-gradient(
    180deg,
    rgba(9, 9, 9, 0.8799894957983193) 52%,
    rgba(1, 1, 1, 0.6867121848739496) 78%,
    rgba(24, 24, 24, 0) 100%
  );
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 65px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  height: 230px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.info {
  display: flex;
  align-items: baseline;
  justify-content: space-around;

  padding: 5px;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
